//main page
.posts-expand .post-title-link {
	color: #da3b01;
}
body, .main-inner {
	background: #fff1e5;
}

::selection {
    background: #ccc;
    color: #222
}
::-moz-selection {
    background: #ccc;
    color: #222
}
::-webkit-selection {
    background: #ccc;
    color: #222
}

//post
.post-body a {
	color: #da3b01;
	}
.post-body a:hover {
	color: #333;
	}
.post-body {
	font-family: 'Noto Sans', 'Microsoft YaHei', sans-serif;
	color: #3e3e3e;
}

p {
	line-height: 1.5em;
	font-size: 18px;
 }

.posts-expand .post-meta-container .post-description {
	display: none;
}

code, kbd, figure.highlight, pre {
    background: #fff;
    color: #333;
}

figure.highlight .gutter pre {
	background: #f8d0bc;
	color: #333;
	border-radius: 20%;
	padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

//sidebar
.menu-item {
	margin-bottom: 20px;
	padding: 5px;
}

.menu .menu-item a {
	font-weight: bold;
}

.menu-item a.menu-item-active {
	background: #fff1e5;
	//background: rgba(218, 59, 1, .8);
	//box-shadow: 0 2px 12px #f8d0bc;
	//transition: all .35s ease-out;
	//border-radius: 20px;
}

.menu-item a:hover {
	background: rgba(222, 78, 24, .2);
	color: #333;
	//transition: all .35s ease-out;
}

.main-menu .menu-item-active::after {
    background: #da3b01;
	display: none;
}

.site-brand-container, .header-inner, .sidebar-inner {
	background: #fff1e5;
}

.site-title {
	color: #666;
}

.site-subtitle, .site-description, .site-state-item-name, .site-state-item-name {
	color: #555;
}

//post button, read more
.post-button .btn {
	color: #555;
}
.post-button {
	background-color: #fff;
}
.post-button a:hover {
	color: #333;
	background-color: #fff;
}

//footer
.with-love {
	display: none;
}

.footer {
	color: #555;
}

.post-eof {
	display: none;
}


//Archive
.collection-title {
	display: none;
}
